%h2="Commit #{@inspection[:sha]}"
%p.meta="Rake tests status: #{@inspection[:result] ? "Success" : "Failure"}"
%p.meta="Tested on: #{@inspection[:started]}"
%p.meta
  %a{:href=>"#{Citadel::Settings[:github_url]}/commit/#{@inspection[:sha]}"}="View on Github"
- unless @inspection[:result]
  #post
    %pre
      %code
        ="#{@inspection[:error_data]}"
